<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Welcome <small>#events</small></h1>
  </section>
<% end %>

<section class="content invoice">
  <p>Find me in app/views/welcome/events.html.erb</p>
</section>